body
{
    padding-top: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
a{  
    color: black;
    text-decoration: none!important;
}
a:hover{
    color: darkslategrey;
    text-decoration: none!important;
}
.main-hr{
        border: 1px solid #1F2833;
        

}
#navcontainer{
    background-color: #1F2833;
}
.navbar-brand{
    width: 100px;
    height: auto;
    
}
.navbar-brand:hover{
    width: 105px;
    height: auto;
    
}
#nav-logo{
    height: 100%;
    width: 100%;
}
#nav-content{
    margin-left: 8%;
}
#navlink{
    color:white;
}
#navlink:hover{
    color:#f7d560;
}



#maincontainer{
   
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
}
.middlecontainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: auto;
    width: 60%;
    padding: 5px 0px 5px 0px;
    
}
#page-info{
    font-size: 22px;
}

#latest-image{
    display: flex;
    margin-bottom: 15px;
}
#l-image{
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 510px;
    height: 300px;
    overflow: hidden;
}

#image{
    width:100%;
}






.flex-container{
    display: flex;
}
#postimagecontainer{
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 170px;
    height: 100px;
    overflow: hidden;
    
}
.post-image{
    width: 100%;
    
}
#post-text-container{
    padding: 0px 0px 0px 15px!important;
}
#post-title{
    font-size: 22px;
    font-weight: 600;
}
#post-title-text{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
#post-tags{
    padding-top: 10px;
}
#p-tag{
    font-size: 14px;
    font-weight: 500;
    color: #1F2833; 
    margin: 0px 12px 0px 0px; 
    display:inline;
    word-wrap: break-word;
}
.readmore{
    color:blue;
}



.footer{
    height: auto;

}
#footermain{
    background-color: #1F2833;
    margin: 0;
    padding: 1%;
  
  

    
}
#footertext{
    margin: 0;
    padding: 0;
    width: 100%;
}
#footerul{
    padding: 0;
}
.footerli{
    padding-bottom: 1%;
}
.footernavlink{
    
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none!important;
    
}
#social{
    text-align: center;
    
}   
#soc-logo{
    height: 35px;
}
#copyright{
    margin: auto;
    padding: 0;
    width: 50%;
}
#copyrighttext{
    color: #A39B9B;
    font-size: 14px;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .middlecontainer{
        margin: auto;
        width: 100%;
        padding: 3%;
    }
    #page-info{
        font-size: 20px;
    }
    #latest-image{
        display: flex;
       
    }
    #l-image{
        flex: 1;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 75%;
        height: auto;
        overflow: hidden;
    }
    
    #image{
        width:100%;
    }
    .flex-container{
        display: flex;
    }
    #postimagecontainer{
        flex: 1;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 127.5px;
        height: 75px;
        overflow: hidden;
        
    }
    .post-image{
        width: 100%;
        
    }
    #post-text-container{
        padding: 0px 0px 0px 10px!important;
    }
    #post-title{
        font-size: 18px;
        font-weight: 600;
    }
    #post-title-text{
        font-size: 13px;
        font-weight: 400;
        margin: 0;
    }
    #post-tags{
        padding-top: 10px;
    }
    #p-tag{
        font-size: 12px;
        font-weight: 500;
        margin: 0px 6px 0px 0px; 
        display:inline;
        word-wrap: break-word;
    }
    .readmore{
        color:blue;
    }
    
    .footer{
        height: auto;
    
    }
    #footermain{
        background-color: #1F2833;
        margin: 0;
        padding: 10px;
      
      
    
        
    }
    #footertext{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #footerul{
        padding: 0;
    }
    .footerli{
        padding-bottom: 2%;
    }
    .footernavlink{
        
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none!important;
        
    }
    #social{
        text-align: center;
        
    }   
    #soc-logo{
        height: 32px;
    }
    #copyright{
        margin: auto;
        padding: 0;
        width: 50%;
    }
    #copyrighttext{
        color: #A39B9B;
        font-size: 13px;
        text-align: center;
    }
  }














